input[type=range] {
    width: 100%;
    background: transparent;
    border: double #CCFFCC 20px;
}

#xyzzy{
	width:400px;
	height:25px;
	border:1px solid black;
	position:relative;
    cursor:pointer;
}

#info{
	width:200px;
	height:25px;
	border:1px solid black;	
    font-family: 'Arial', sans-serif;
}
