input[type=range] {
    width: 99%;
    background: transparent;
    border:1px solid black;
    box-sizing: border-box;
    padding-top: 5px;
    padding-right: 5;
    padding-bottom: 5px;
    padding-left: 5;
}

#test {
	width:400px;
	height:25px;
    background: lightblue;
}

#xyzzy{
	width:400px;
	height:25px;
	border:1px solid black;
	position:relative;
    cursor:pointer;
}

#info{
	width:200px;
	height:25px;
	border:1px solid black;	
    font-family: 'Arial', sans-serif;
}
